In [1]:
import pandas as pd

In [ ]:
file_table = 'yellow_tripdata_2021-01.csv'
name_table = 'yellow_taxi_data'

In [18]:
df = pd.read_csv(file_table, nrows = 100)

In [20]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

AttributeError: 'DataFrame' object has no attribute 'tpep_dropoff_datetime'

In [21]:
print(pd.io.sql.get_schema(df, name=name_table))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [29]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi', echo=False)

In [31]:
file_table = 'taxi+_zone_lookup.csv'
name_table = 'taxi_zone_lookup'



df = pd.read_csv(file_table)
df.to_sql(name=name_table, con=engine, if_exists='replace')

In [24]:
print(pd.io.sql.get_schema(df, name=name_table, con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [25]:
df_iter = pd.read_csv(file_table, iterator=True,chunksize=100000)

In [26]:
df = next(df_iter)

In [27]:
len(df)

265

In [12]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [28]:
df.head(n=0).to_sql(name=name_table, con=engine, if_exists='replace')

In [14]:
df.to_sql(name=name_table, con=engine, if_exists='append')

In [15]:
from time import time

In [16]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

    df.to_sql(name=name_table, con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunck..., took {0:.2f} s'.format(t_end-t_start))

inserted another chunck..., took 9.98 s
inserted another chunck..., took 9.94 s
inserted another chunck..., took 9.99 s
inserted another chunck..., took 9.92 s
inserted another chunck..., took 9.98 s
inserted another chunck..., took 9.95 s
inserted another chunck..., took 9.94 s
inserted another chunck..., took 9.94 s
inserted another chunck..., took 10.00 s
inserted another chunck..., took 10.01 s
inserted another chunck..., took 9.99 s

/home/datacamp/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunck..., took 9.84 s
inserted another chunck..., took 6.30 s

StopIteration: